service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }


    function creatingResourceForOwner() {
      return request.resource.data.uid == request.auth.uid;
    }

    match /users/{user} {
    	allow read: if isAuthenticated();
      allow update: if request.auth.uid == user;
      allow create: if false;
    }

  	match /recipes/{recipe} {
      allow read: if isAuthenticated() && resource.data.uid == request.auth.uid;
      allow write: if isAuthenticated() && request.resource.data.uid == request.auth.uid;

      function getRecipeData() {
        return get(/databases/$(database)/documents/recipes/$(recipe)).data;
      }

      match /ingredientItems/{ingredientItem} {
        allow read: if isAuthenticated() && getRecipeData().uid == request.auth.uid;
        allow write: if isAuthenticated() && getRecipeData().uid == request.auth.uid;
      }

      match /steps/{step} {
        allow read: if isAuthenticated() && getRecipeData().uid == request.auth.uid;
        allow write: if isAuthenticated() && getRecipeData().uid == request.auth.uid;
      }
    }
    match /ingredients/{ingredient} {
      allow read, write: if isAuthenticated();
    }
    match /cuisines/{cuisine} {
      allow read, write: if isAuthenticated();
    }
    match /carts/{cart} {
      allow read, write: if request.auth.uid == cart;
    }
  }
}