service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function userIsOwnerOfResource() {
      return resource.data.uid == request.auth.uid;
    }

    function creatingResourceForOwner() {
      return request.resource.data.uid == request.auth.uid;
    }
    match /users/{user} {
    	allow read: if isAuthenticated();
      allow update: if request.auth.uid == user;
      allow create: if false;
    }
  	match /recipes/{recipe} {
      allow read: if isAuthenticated() && userIsOwnerOfResource();
      allow write: if isAuthenticated() && creatingResourceForOwner();
    }
    match /ingredients/{ingredient} {
      allow read, write: if isAuthenticated();
    }
    match /cuisines/{cuisine} {
      allow read, write: if isAuthenticated();
    }
    match /carts/{cart} {
      allow read, write: if request.auth.uid == cart;
    }
  }
}