.cart {
}

.cart-table {
}

.cart-table td {
  border: 1px black solid;
}

.cart-new-item {
  padding: 8px;
  border: 1px darkgray solid;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 12px;
}

.cart-new-item-input {
  margin-bottom: 8px;
}
