
@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/comfortaa-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/comfortaa-light.ttf) format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/comfortaa-bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/montserrat-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/montserrat-bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
